/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }

/*


body {background-color: #fff;
  margin: 0;
     }
header {height: 120px;
	background-color: #fff;
       }
#content {padding-top: 60px;
	min-height: 400px;
         }
footer {
        background-color: #bdcbd9;
       }
.wrapper {width: 980px;
	margin: auto;
         }


